<div class="accordion accordion-flush" id="education-and-experience">
  <div class="accordion-item">
    <h2 class="accordion-header" id="education-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-container" aria-expanded="false" aria-controls="education">
        <h2>Education</h2>
      </button>
    </h2>
    <div id="education-container" class="accordion-collapse collapse" aria-labelledby="education-header" data-bs-parent="#education-and-experience">
      <div class="accordion accordion-flush accordion-body" id="education">
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2012-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2012-content" aria-expanded="false" aria-controls="education-2012-content">
              2012
            </button>
          </h2>
          <div id="education-2012-content" class="accordion-collapse collapse" aria-labelledby="education-2012-heading" data-bs-parent="#education">
            <div class="accordion-body">Started coding and learned JavaScript, CSS, and HTML.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2014-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2014-content" aria-expanded="false" aria-controls="education-2014-content">
              2014
            </button>
          </h2>
          <div id="education-2014-content" class="accordion-collapse collapse" aria-labelledby="education-2014-heading" data-bs-parent="#education">
            <div class="accordion-body">Learned Python.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2015-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2015-content" aria-expanded="false" aria-controls="education-2015-content">
              2015
            </button>
          </h2>
          <div id="education-2015-content" class="accordion-collapse collapse" aria-labelledby="education-2015-heading" data-bs-parent="#education">
            <div class="accordion-body">Learned VBScript.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2016-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2016-content" aria-expanded="false" aria-controls="education-2016-content">
              2016
            </button>
          </h2>
          <div id="education-2016-content" class="accordion-collapse collapse" aria-labelledby="education-2016-heading" data-bs-parent="#education">
            <div class="accordion-body">Learned Java.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2017-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2017-content" aria-expanded="false" aria-controls="education-2017-content">
              2017
            </button>
          </h2>
          <div id="education-2017-content" class="accordion-collapse collapse" aria-labelledby="education-2017-heading" data-bs-parent="#education">
            <div class="accordion-body">
              Learned C.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2018-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2018-content" aria-expanded="false" aria-controls="education-2018-content">
              2018
            </button>
          </h2>
          <div id="education-2018-content" class="accordion-collapse collapse" aria-labelledby="education-2018-heading" data-bs-parent="#education">
            <div class="accordion-body">
              Learned C++, bash, Markdown, and various sorting algorithms and data structures.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2019-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2019-content" aria-expanded="false" aria-controls="education-2019-content">
              2019
            </button>
          </h2>
          <div id="education-2019-content" class="accordion-collapse collapse" aria-labelledby="education-2019-heading" data-bs-parent="#education">
            <div class="accordion-body">
              Learned Processing.js, SQL and a few cryptographic algorithms.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2021-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2021-content" aria-expanded="false" aria-controls="education-2021-content">
              2021
            </button>
          </h2>
          <div id="education-2021-content" class="accordion-collapse collapse" aria-labelledby="education-2021-heading" data-bs-parent="#education">
            <div class="accordion-body">
              Learned assembly and started using Docker and Puppeteer.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="education-2022-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-2022-content" aria-expanded="false" aria-controls="education-2022-content">
              2022
            </button>
          </h2>
          <div id="education-2022-content" class="accordion-collapse collapse" aria-labelledby="education-2022-heading" data-bs-parent="#education">
            <div class="accordion-body">
              Learned p5.js.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="experience-header">
      <button class="accordion-button collapsed"
              type="button" data-bs-toggle="collapse"
              data-bs-target="#experience-container"
              aria-expanded="false"
              aria-controls="experience">
        <h2>Experience</h2>
      </button>
    </h2>
    <div id="experience-container"
         class="accordion-collapse collapse"
         aria-labelledby="experience-header"
         data-bs-parent="#experience-and-experience">
      <div class="accordion accordion-flush accordion-body" id="experience">
        <div class="accordion-item">
          <h2 class="accordion-header" id="experience-2012-heading">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#experience-2012-content"
                    aria-expanded="false"
                    aria-controls="experience-2012-content">
              2012
            </button>
          </h2>
          <div id="experience-2012-content"
               class="accordion-collapse collapse"
               aria-labelledby="experience-2012-heading"
               data-bs-parent="#experience">
            <div class="accordion-body">Created a pvp chess game using JavaScript, HTML, and CSS.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="experience-2019-heading">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#experience-2019-content"
                    aria-expanded="false"
                    aria-controls="experience-2019-content">
              2019
            </button>
          </h2>
          <div id="experience-2019-content"
               class="accordion-collapse collapse"
               aria-labelledby="experience-2019-heading"
               data-bs-parent="#experience">
            <div class="accordion-body">
              Created a proof-of-concept file format for storing compressed strings for fast reading
              <a href="https://github.com/tigeryu8900/static-trie-based-encoding">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
              and a weblog encoder/decoder
              <a href="https://github.com/tigeryu8900/stbe-based-weblog">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
              based on that file format.
              Implemented a PID controller to adjust an output using a negative feedback loop
              <a href="https://github.com/tigeryu8900/PID-controller">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a><br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="experience-2020-heading">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#experience-2020-content"
                    aria-expanded="false"
                    aria-controls="experience-2020-content">
              2020
            </button>
          </h2>
          <div id="experience-2020-content"
               class="accordion-collapse collapse"
               aria-labelledby="experience-2020-heading"
               data-bs-parent="#experience">
            <div class="accordion-body">
              Implemented one-time pad encryption/decryption
              <a href="https://github.com/tigeryu8900/cryptography/tree/master/one-time-pad">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a><br>
              Implemented a vigenere cipher and a tool to crack the cipher
              <a href="https://github.com/tigeryu8900/cryptography/tree/master/vigenere-cipher">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="experience-2021-heading">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#experience-2021-content"
                    aria-expanded="false"
                    aria-controls="experience-2021-content">
              2021
            </button>
          </h2>
          <div id="experience-2021-content"
               class="accordion-collapse collapse"
               aria-labelledby="experience-2021-heading"
               data-bs-parent="#experience">
            <div class="accordion-body">
              Created a web-based proxy that loads content on the server side
              <a href="https://github.com/tigeryu8900/CS50-2019/tree/cs50/problems/2019/x/project">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a><br>
              Created a bot that automatically comments on a new YouTube video from a specified channel
              <a href="https://github.com/tigeryu8900/youtube-first-comment-bot-pshb">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="experience-2022-heading">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#experience-2022-content"
                    aria-expanded="false"
                    aria-controls="experience-2022-content">
              2022
            </button>
          </h2>
          <div id="experience-2022-content"
               class="accordion-collapse collapse"
               aria-labelledby="experience-2022-heading"
               data-bs-parent="#experience">
            <div class="accordion-body">
              Created a script for automatically filling UCSB's Covid-19 survey
              <a href="https://github.com/tigeryu8900/covid-19-survey">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a><br>
              Created a script for automatically selecting UCSB classes
              <a href="https://github.com/tigeryu8900/ucsb-course-auto-picker">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
