<div class="row">
  <a class="col btn btn-primary-outline" href="mailto:tigeryu8900@gmail.com">
    <i class="fa fa-regular fa-envelope fa-lg"></i>
  </a>
  <a class="col btn btn-primary-outline" href="https://github.com/tigeryu8900">
    <i class="fa fa-brands fa-github fa-lg"></i>
  </a>
  <a class="col btn btn-primary-outline" href="https://www.reddit.com/user/randomweeb-69420">
    <i class="fa fa-brands fa-reddit fa-lg"></i>
  </a>
  <a class="col btn btn-primary-outline" href="https://discord.com/users/617560890752892928">
    <i class="fa fa-brands fa-discord fa-lg"></i>
  </a>
  <a class="col btn btn-primary-outline"
     data-bs-container="body"
     data-bs-toggle="popover"
     data-bs-placement="top"
     data-bs-html="true"
     data-bs-content="<img class=&quot;container&quot; src=&quot;/wechat-qr.jpg&quot;/>">
    <i class="fa fa-brands fa-weixin fa-lg"></i>
  </a>
</div>
